@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap");
/*
body {
  font-family: "Kanit", sans-serif;
  background: #FFFFFF;
  font-size: 24px;
}
*/

  

.hidden {
  display: none;
}
