/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Apply the font to the entire document */
body {
  font-family: 'Kanit', sans-serif; /* Apply Kanit font to the whole body */
  padding-top:1px; /* Adjust this to match the height of the Navbar */
}

.navbar-brand-custom {
  color: #007bff; /* Example brand color */
  font-family: 'Kanit', sans-serif; /* Apply Kanit font to brand text */
}
